body {
        background: url('https://cdn.pixabay.com/photo/2017/12/05/20/08/pizza-3000273_1280.jpg') no-repeat center center fixed;
        background-size: cover;
        font-family: 'Segoe UI', Arial, sans-serif;
        margin: 0;
        padding: 0;
        }
        h1, h2 {
            color: #1a1a1a;
            /* Adiciona emojis antes dos títulos */
            position: relative;
            text-align: center;
            }
            h1::before {
            content: "🍕 ";
            }
            h2::before {
            content: "👤 ";
          text-shadow: 0 2px 0 #211019, 0 2px 4px #373134;
        }
        .container {
            background: linear-gradient(2045deg, #ff0000 2%, #ff9900 20%, #ffee00 40%, #33cc33 60%, #3399ff 80%, #9900cc 100%);
          max-width: 350px;
          margin: 28px auto 0 auto;
          padding: 20px 34px 28px 28px;
          border-radius: 18px;
          box-shadow: 0 6px 28px rgba(0,0,0,0.13);
          text-align: center;
        }
        h1 {
          color: #1d0f15;
          margin-bottom: 8px;
          font-size: 2rem;
          letter-spacing: 1px;
        }
        h2 {
          color: #090c0c;
          font-size: 1.1rem;
          margin-bottom: 1px;
        }
        .form-group {
          margin-bottom: 19px;
          text-align: left;
        }
        label {
          display: block;
          color: #080708;
          margin-bottom: 6px;
          font-weight: 500;
        }
        input[type="text"], input[type="password"] {
          width: 100%;
          padding: 12px 2px;
          border: 1px solid #e49abb;
          border-radius: 8px;
          background: #fffdfa;
          font-size: 1rem;
          transition: border 0.2s;
        }
        input[type="text"]:focus, input[type="password"]:focus {
          border: 1.5px solid #b4216b;
          outline: none;
        }
        button {
          background: linear-gradient(40deg, #ff478a 0%, #ff33a3 100%);
          color: #fff;
          border: none;
          border-radius: 84px;
          padding: 11px 16px;
          width: 100%;
          font-size: 1.0rem;
          font-weight: bold;
          cursor: pointer;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
          transition: background 0.2s;
        }
        button:hover {
          background: linear-gradient(90deg, #d1538b 0%, #ba11bd 45%);
        }
        .mensagem {
          margin-top: 16px;
          color: #000000;
          font-size: 1rem;
        }
        .hidden {
          display: none;
        }